channels:
- conda-forge
dependencies:
- coveralls
- coverage
- codacy-coverage
- molmod =1.4.8
- numpy =1.23.5
- pyiron_atomistics =0.2.51
- scipy =1.9.3
- spglib =2.0.2
- quickff =2.2.4
- tamkin =1.2.6
- yaff =1.4.2
